<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/road_choise.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <title>Page 2</title>
</head>
<body>
<div class="menu">
    <a><p>Навигация</p></a>
    <a href="{% url 'start' %}"><div class="colors">Главная страница</div></a>
    <a href="{% url 'rules' %}">Правила</a>
    <a href="{% url 'check_room_existence' %}">Начать играть</a>
    <div class="rail">Железные дороги</div>
    <div class="change">Выбрать дорогу</div>
    <div class="form-container">
        <form method="post" class="railway-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Выбрать</button>
        </form>
    </div>
</div>
{% if form.is_valid and form.cleaned_data.selected_railway %}
<div class="txt">{{ form.cleaned_data.selected_railway }}</div>
<img src="{% static 'images/rail.png' %}" alt="Railway image">
<a href="{% url 'manage_railway' railway.id %}" class="butn">Начать игру</a>
{% endif %}
</body>
</html>
