<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="game_info.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Page 2</title>
  </head>
  <body>
    <div class="menu">
      <a><p>Доступные функции</p></a>
      <a href="game_info.html"><div class="colors">Информация о дороге</div></a>
      <a href="rules_game.html">Правила</a> <br />
      <a href="game_stat.html">Статистика</a>
      <div class="warning">
        <img src="Vector.png" alt="" class="image-1" />
        <div class="warning-pokazateli">
          <ul>
            <li>
              Плановый грузооборот:
              <div class="plan-grus"></div>
            </li>
            <li>
              Плановый пассажирооборот:
              <div class="plan-pas"></div>
            </li>
            <li>
              Средняя зарплата:
              <div class="plan-zp"></div>
            </li>
            <li>
              Плановые расходы:
              <div class="plan-ras"></div>
            </li>
          </ul>
        </div>
        <a href="startwin.html" class="warning-btn">Выйти в меню</a>
      </div>
    </div>
    <div class="start-txt">
      Вы играете за Восточно-Сибирскую железную дорогу
    </div>
    <div class="yellow-1">
      <img src="Vector-1.png" alt="" class="image-2" />
      Средняя зарплата в регионе:
    </div>
    <div class="yellow-2">
      <img src="Vector-1.png" alt="" class="image-3" />
      У вас есть ещё 3 ход(а), чтобы построить новую станцию, иначе ваша
      прибавка к рейтингу будет равна 0
    </div>
    <div class="step">Ход: 2</div>
    <div class="rank">
      <img src="Vector-2.png" alt="" class="image-4" />
      Рейтинг:
    </div>
    <div class="finance">
      Финансы
      <div class="balans">
        <img src="Vector-3.png" alt="" class="image-5" />
        Ваш баланс:
      </div>
      <div class="num1">
        <div class="op">
          <div class="median-zp-in-region">
            <img src="Vector-3.png" alt="" class="image-5" />
            Медианная зарплата в регионе:
          </div>
          <div class="sum-med-zp">50.000</div>
        </div>
        <div class="op">
          <div class="zp-rabot">
            <img src="Vector-3.png" alt="" class="image-5" />
            Зарплата сотрудников:
          </div>
          <div class="sum-zp">50.000</div>
        </div>
      </div>
      <div class="num2">
        <div class="op">
          <div class="shtat">
            <img src="Vector-3.png" alt="" class="image-5" />
            Укомплектованность штата:
          </div>
          <div class="count-shtat">100%</div>
        </div>
      </div>
    </div>
    <div class="infrastructure">
      Железнодорожная инфраструктура
      <div class="num3">
        <div class="op">
          <div class="infrastructure-celost">
            <img src="Vector-3.png" alt="" class="image-5" />
            Целостность инфраструктуры:
          </div>
          <div class="infrastructure-proc">90%</div>
        </div>
      </div>
      <div class="num4">
        <div class="op">
          <div class="celost-puti">
            <img src="Vector-3.png" alt="" class="image-5" />
            Целостность путей:
          </div>
          <div class="proc-puti">89%</div>
        </div>
      </div>
    </div>
    <div class="vagons">
      Вагоны
      <div class="num5">
        <div class="op">
          <div class="cupe-vagon">
            <img src="Vector-3.png" alt="" class="image-5" />
            Количество купейных вагонов:
          </div>
          <div class="count-cupe-vagon">21</div>
        </div>
        <div class="op">
          <div class="plac-vagon">
            <img src="Vector-3.png" alt="" class="image-5" />
            Количество плацкартных вагонов:
          </div>
          <div class="count-plac-vagon">42</div>
        </div>
      </div>
      <div class="num6">
        <div class="op">
          <div class="grus-vagon">
            <img src="Vector-3.png" alt="" class="image-5" />
            Количество грузовых вагонов:
          </div>
          <div class="count-grus-vagon">300</div>
        </div>
      </div>
      <div class="num7">
        <div class="op">
          <div class="locomotiv">
            <img src="Vector-3.png" alt="" class="image-5" />
            Количество локомотивов:
          </div>
          <div class="count-locomotiv">10</div>
        </div>
      </div>
    </div>
    <div class="actions">
      Действия
      <div class="num8">
        <div class="op">
          <div class="buy-grus-vagon">
            <img src="Vector-5.png" alt="" class="image-7" />
            Покупка грузовых вагонов
          </div>
          <div class="slider">
            <span>0</span>
            <input type="range" min="0" max="10" value="0" />
            <span>10</span>
          </div>
          <div class="price-grus">
            Стоимость:&nbsp;
            <div class="price-count-grus">N*деньги</div>
          </div>
        </div>
        <div class="op">
          <div class="buy-locomotiv">
            <img src="Vector-5.png" alt="" class="image-7" />
            Покупка локомотивов
          </div>
          <div class="slider">
            <span>0</span>
            <input type="range" min="0" max="10" value="0" />
            <span>10</span>
          </div>
          <div class="price-locomotiv">
            Стоимость:&nbsp;
            <div class="price-count-locomotiv">N*деньги</div>
          </div>
        </div>
      </div>
      <div class="num9">
        <div class="op">
          <div class="buy-cupe-vagon">
            <img src="Vector-5.png" alt="" class="image-7" />
            Покупка купейных вагонов
          </div>
          <div class="slider">
            <span>0</span>
            <input type="range" min="0" max="10" value="0" />
            <span>10</span>
          </div>
          <div class="price-cupe">
            Стоимость:&nbsp;
            <div class="price-count-cupe">N*деньги</div>
          </div>
        </div>
        <div class="op">
          <div class="buy-plac-vagon">
            <img src="Vector-5.png" alt="" class="image-7" />
            Покупка плацкартных вагонов
          </div>
          <div class="slider">
            <span>0</span>
            <input type="range" min="0" max="10" value="0" />
            <span>10</span>
          </div>
          <div class="price-plac">
            Стоимость:&nbsp;
            <div class="price-count-plac">N*деньги</div>
          </div>
        </div>
      </div>
      <div class="num10">
        <div class="op">
          <div class="remont-puti">
            Потратить деньги на ремонт путей?
            <div class="btn-puti">
              <input type="text" placeholder="Сколько инвестировать?" />
            </div>
            <div class="change-puti">
              <input id="yes-put" name="toggle-put" type="radio" class="put" />
              <label for="yes-put">Да</label>
              <input id="no-put" name="toggle-put" type="radio" class="put" />
              <label for="no-put">Нет</label>
            </div>
          </div>
        </div>
      </div>
      <div class="num11">
        <div class="op">
          <div class="remont-infra">
            Потратить деньги на ремонт инфраструктуры?
            <div class="btn-infra">
              <input type="text" placeholder="Сколько инвестировать?" />
            </div>
            <div class="change-infra">
              <input id="yes-inf" name="toggle-inf" type="radio" class="inf" />
              <label for="yes-inf">Да</label>
              <input id="no-inf" name="toggle-inf" type="radio" class="inf" />
              <label for="no-inf">Нет</label>
            </div>
          </div>
        </div>
      </div>
      <div class="num12">
        <div class="op">
          <div class="remont-vagon">
            Потратить деньги на ремонт вагонов?
            <div class="btn-vagon">
              <input type="text" placeholder="Сколько инвестировать?" />
            </div>
            <div class="change-vag">
              <input id="yes-vag" name="toggle-vag" type="radio" class="vag" />
              <label for="yes-vag">Да</label>
              <input id="no-vag" name="toggle-vag" type="radio" class="vag" />
              <label for="no-vag">Нет</label>
            </div>
          </div>
        </div>
      </div>
      <div class="num13">
        <div class="op">
          <div class="remont-zp">
            Назначение зарплаты работников:
            <div class="btn-zp">
              <input type="text" placeholder="Сколько назначить?" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="next-step">
      <a href="game_info.html" class="next-btn"
        >Следующий ход <img src="Vector-4.png" alt="" class="image-6"
      /></a>
    </div>
  </body>
</html>
