<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="game_stat.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Page 2</title>
  </head>
  <body>
    <div class="menu">
      <a><p>Доступные функции</p></a>
      <a href="game_info.html">Информация о дороге</a>
      <a href="rules_game.html">Правила</a> <br />
      <a href="game_stat.html"><div class="colors">Статистика</div></a>
      <div class="warning">
        <img src="Vector.png" alt="" class="image-1" />
        <div class="warning-pokazateli">
          <ul>
            <li>Плановый грузооборот:</li>
            <li>Плановый пассажирооборот:</li>
            <li>Средняя зарплата:</li>
            <li>Плановые расходы:</li>
          </ul>
        </div>
        <a href="startwin.html" class="warning-btn">Выйти в меню</a>
      </div>
    </div>
    <div class="start-txt">
      Вы играете за Восточно-Сибирскую железную дорогу
    </div>
    <img src="image 2.png" alt="" class="image-2" />
    <img src="image 3.png" alt="" class="image-3" />
  </body>
</html>
