<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="road_choise.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Page 2</title>
  </head>
  <body>
    <div class="menu">
      <a><p>Навигация</p></a>
      <a href="startwin.html">Главная страница</a>
      <a href="rules.html">Правила</a>
      <a href="startgame.html"><div class="colors">Начать играть</div></a>
      <div class="rail">Железные дороги</div>
      <div class="change">Выбрать дорогу</div>
      <div class="btn">
        <select name="button" size="1">
          <option selected value="Восточно-Сибирская">
            Восточно-Сибирская
          </option>
          <option value="Горьковская">Горьковская</option>
          <option value="Дальневосточная">Дальневосточная</option>
          <option value="Забайкальская">Забайкальская</option>
          <option value="Западно-Сибирская">Западно-Сибирская</option>
          <option value="Калининградская">Калининградская</option>
          <option value="Красноярская">Красноярская</option>
          <option value="Куйбышевская">Куйбышевская</option>
          <option value="Московская">Московская</option>
          <option value="Октябрьская">Октябрьская</option>
          <option value="Приволжская">Приволжская</option>
          <option value="Свердловская">Свердловская</option>
          <option value="Северная">Северная</option>
          <option value="Северо-Кавказская">Северо-Кавказская</option>
          <option value="Юго-Восточная">Юго-Восточная</option>
          <option value="Южно-Уральская">Южно-Уральская</option>
        </select>
      </div>
    </div>
    <div class="txt">Восточно-Сибирская железная дорога</div>
    <img src="rail.png" alt="" />
    <a href="game_info.html" class="butn">Начать игру</a>
  </body>
</html>
