<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Page 2</title>
  </head>
  <body>
    <div class="menu">
      <a><p>Навигация</p></a>
      <a href="{% url 'start'%}">Главная страница</a>
      <a href="{% url 'rules' %}"><div class="colors">Правила</div></a>
      <a href="{% url 'check_room_existence' %}">Начать играть</a>
    </div>
    <div class="tit">Описание игры</div>
    <div class="txt1">
      <p>Всего на одной дороге может быть до 14 станций</p>
      <p>
        Изначально у игрока есть:
        <ul>
          <li>•    2 станции;</li>
          <li>•    2 грузовых поезда;</li>
          <li>•    2 пассажирских поезда;</li>
          <li>•    40 сотрудников на каждой станции;</li>
          <li>•    Зарплата сотрудников - 50 тысяч рублей;</li>
          <li>•    Средняя зарплата в регионе - 50 тысяч рублей;</li>
          <li>•    Баланс игрока - 500 миллионов рублей.</li>
        </ul>
      </p>
    </div>
    <div class="txt2"><p>Рейтинг зависит от:
      <ol>
        <li>А) Состояние путей и инфраструктуры;</li>
        <li>В) Плана перевозок;</li>
        <li>В) Плана перевозок;</li>
        <li>Г) Планового расхода.</li>
      </ol>
      <p>Теперь более подробно:
        <ul>
          <li>•    <b>Рейтинг изначально равен 20 процентам;</b></li>
          <li><br>•    <b>Целостность путей</b> – 85 % <br>
            &nbsp;&nbsp;&nbsp;&nbsp;(если целостность путей меньше 90 %, то в конце хода рейтинг уменьшается на 4 %. Если больше или равно 90 %, то в конце хода рейтинг увеличивается на 1 %. Целостность путей в конце каждого хода ухудшается на 5 %. Если проводить техническое обслуживание путей, целостность путей улучшается на 7 % в конце хода);
       </li>
          <li><br>•    <b>Целостность инфраструктуры</b> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;изначально равна 80 % (если целостность меньше 80 %, то в конце хода рейтинг уменьшается на 4 %. Если целостность больше или равно 80 %, то в конце хода рейтинг увеличивается на 1 %. В конце каждого хода целостность инфраструктуры ухудшается на 10 %. Если проводить техническое обслуживание, целостность инфраструктуры улучшается на 15 % в конце хода);
       </li>
          <li><br>•    <b>Укомплектованность штата:</b> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;если заработная плата сотрудника (ЗП сотрудника) станции меньше средней заработной платы в регионе (средняя ЗП в регионе), то со станции увольняются по 4 сотрудника в конце хода. Если на станции остается меньше 15 сотрудников, то рейтинг уменьшается на 4 % в конце хода. Если же на станции больше 15 сотрудников, то рейтинг увеличивается на 1 % в конце хода. А если ЗП сотрудника выше средней ЗП в регионе, то на станцию приходят по 8 сотрудников в конце хода (на станции не может быть больше 40 сотрудников);
       </li>
          <li><br>•    <b>План грузооборота:</b> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;план грузооборота составляет 250 и более перевозок груза за ход. Если не выполнить план, то в конце хода рейтинг уменьшится на 2%. Если план будет выполнен, то в конце хода рейтинг увеличится на 1%.
       </li>
          <li><br>•    <b>План пассажирооборота:</b> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;план пассажирооборота составляет 300 и более перевозок пассажиров за ход. Если не выполнить план, то в конце хода рейтинг уменьшится на 2%. Если план будет выполнен, то в конце хода рейтинг увеличится на 1%.
       
       </li>
          <li><br>•    <b>Плановый расход:</b> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;в начале каждого хода плановый расход меняется (это допустимые расходы за один ход). Если превысить план, то в конце хода рейтинг уменьшится на 2%. Если план не превысить, то рейтинг остается неизменным.
       </li>
          <li><br>•    <b>Уход за поездами:</b> <br>

            &nbsp;&nbsp;&nbsp;&nbsp;Для грузовых поездов: если не проводить техническое обслуживание за поездами, то в конце хода 4% от общего количества вагонов будут выходить из строя. Реставрация стоит 5 миллионов рублей за 1 вагон. Один грузовой поезд состоит из 100 вагонов, у каждого вагона вместимость 60 тонн груза.
            Доход за каждую 1 тонну груза составляет 100 рублей. 
            Расходы для 1 поезда = 72 000 * количество перевозок.
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Для пассажирских поездов: если не проводить техническое обслуживание за поездами, то в конце хода 2% от общего количества вагонов купе и 3 % от общего количества вагонов плацкарт будут выходить из строя. Реставрация 1 вагона плацкарт стоит 5 миллионов рублей, за 1 вагон купе – 7 миллионов рублей.  Один пассажирский поезд включает в себя 7 вагонов купе (в одном вагоне купе вместимость составляет 36 человек) и 13 вагонов плацкарт (в одном вагоне плацкарт вместимость составляет 54 человека). 
            Доход за один билет в купейный вагон 1000 рублей.
            Доход за один билет в плацкартный вагон 800 рублей. 
            Расходы для 1 поезда = 80 000 * количество перевозок.
       </li>
        </ul>
        <p>Остальные цены:
          <ul>
            <li>•    Станция стоит 1 миллиард рублей;</li>
            <li>•    1 грузовой поезд стоит 200 миллионов рублей;</li>
            <li>•    1 пассажирский поезд стоит 250 миллионов рублей;</li>
            <li>•    Строительство нового пути стоит 400 миллионов рублей.</li>
          </ul>
        </p>
      </p>
    </p>
    </div>
  </body>
</html>
